<h2>Cloud Burrito Transport Protocol</h2>
<h3>Introduction</h3>

<p>The Cloud Burrito Transfer Protocol is an burrito-level protocol for distributed, collaborative, calorie-intensive systems. This specification defines the protocol referred to as "CBTP/1.0". This specification describes features that that should be implemented in CBTP/1.0 clients and servers.</p>

<p>Practical feeding systems require more functionality than simple retrieval and delivery. CBTP provides abstraction from lower-level administrative tasks and allows the developers and end users to eat more and worry less.</p>

<h3>Terminology</h3>

<ul>
<li><strong>package:</strong> A burrito in transit.</li>
<li><strong>patron:</strong> An entity that can request and deliver burritos.</li>
<li><strong>delivery man:</strong> A patron assigned to deliver a package.</li>
<li><strong>hungry man:</strong> A patron currently waiting to receive a package.</li>
<li><strong>dropped burrito:</strong> A burrito that cannot be delivered.</li>
</ul>

<h3>Operation</h3>

<p>CBTP is based on request/response paradigm and requires a valid hungry man and delivery man. A patron can request a burrito when the following criteria are met:</p>

<ol>
<li>Must be an active participant in the pool.</li>
<li>Has been active for at least 1 hour.</li>
<li>Has not received a burrito in the past hour.</li>
<li>Is not waiting to receive a burrito.</li>
<li>Is not delivering a burrito.</li>
</ol>

<p>When a patron makes a valid burrito request, the patron becomes a hungry man. Next, a delivery man must be chosen to deliver the burrito. If there are no eligible patrons, then the burrito is dropped.</p>

<p>A patron is eligible to be chosen as a delivery man when the following criteria are met:</p>

<ol>
<li>Must be an active participant in the pool.</li>
<li>Has not delivered a burrito in the past hour.</li>
<li>Is not waiting to receive a burrito.</li>
<li>Is not delivering a burrito.</li>
</ol>

<p>A random patron from the set of eligible delivery men is chosen and notified of his duty. The patron must acknowledge the assignment within 5 minutes. If the patron fails to acknowledge the assignment, the patron becomes inactive and is ineligible to send or receive burritos. This process repeats until a patron acknowledge the assignment or there are no eligible delivery men.</p>

<p>The delivery man prepares and delivers the burrito. Once the hungry man receives his burrito he must acknowledge receipt of the burrito. The transfer is complete once burrito is acknowledged by the hungry man, and both patrons are now eligible to participate in future transfers.</p>
