<!-- First Featurette -->
<div class="featurette" id="about">
<h2 class="featurette-heading">What is Cloud Burrito?</h2>
<p class="lead">Cloud Burrito has been released and is early alpha stage! Cloud Burrito is a manifestation of the Rackspace service culture invented by 3rd Shift Linux Rackers as a fun way to drive Engagement. You add yourself to the Cloud Burrito pool and you are instantly available to request a burrito or receive a request to serve a burrito to fellow Racker. Microwave burritos have been stocked in the freezer located at the Fueling Station and take less than 2 minutes to prepare. Cloud Burrito is an app available in Slack. Type <em>/cloudburrito help</em> in Slack for details! Stats are available <a href=/stats>here</a>.</p>
</div>
<hr class="featurette-divider">
