<!-- First Featurette -->
<div class="featurette" id="about">
<h2 class="featurette-heading">Basic Rules</h2>
<div class="lead">
<ol>
<li>First you need to sign into Slack.</li>
<li>Join Cloud Burrito by sending the message below in any slack channel. <em>(Only you can see your messages between Cloud Burrito).</em></li>
<pre>/cloudburrito join</pre>
<li>Now that you have joined, you must wait one hour before you can download your first burrito. After an hour has passed, you can request a burrito with this message:</li>
<pre>/cloudburrito feed</pre>
<li>A random person in the Cloud Burrito pool party will be selected to bring you a burrito. When you receive your burrito, you must acknowledge by sending:</li>
<pre>/cloudburrito full</pre>
<li>Since you are in the pool, you may be <em>volunteered</em> to bring someone a burrito. Please acknowlegde this request by sending:</li>
<pre>/cloudburrito serving</pre>
<li>If you need a reminder of these commands, just send:</li>
<pre>/cloudburrito</pre>
<li>And that's it! Enjoy your burritos from the cloud! If you would like a techinical description of the <em>Cloud Burrito Transport Protocol</em>, or CBTP, please click <a href="/cbtp">here</a>.</li>
</ol>
</div>
</div>
<hr class="featurette-divider">
