<h1>User Statistics</h1>
<hr>
<table class="table">
  <tr>
    <td><strong>In the burrito pool:</strong></td>
    <td><%= @patron.is_active %></td>
  </tr>
  <tr>
    <td><strong>Burritos delivered:</strong></td>
    <td><%= @patron.deliveries.where(delivered: true).count %></td>
  </tr>
  <tr>
    <td><strong>Burritos consumed:</strong></td>
    <td><%= @patron.burritos.where(delivered: true).count %></td>
  </tr>
  <tr>
    <td><strong>Calories consumed:</strong></td>
    <td><%= @patron.burritos.where(delivered: true).count * 250 %> kCal</td>
  </tr>
</table>
